[Unit]
Description=Auto Login to X and start custom login screen
After=graphical.target
Requires=graphical.target
Conflicts=getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gui-login-x.sh
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1
User=root

[Install]
WantedBy=graphical.target
